
.bg-social {
    color: #E2FFDF;
}


/* Aplicado a senado de Hero */
/* .logo-mas-chico {
   width: 66%;
}

.logo-chico {
    width: 90%;
 } */



 
/* Footer section */

footer {
    height: 200px;
    background-color: #000;
    width: 100%;
}

.footer-row {
    width: 100%;
    min-height: 170px;
}

.logo-f {
    padding: 12px;
}

.lfef {
   /* width: 10rem; */
   width: 32%;
}
.lcf {
    /* width: 9rem; */
    width: 30%;
}
.lsen {
    /* width: 9.6rem; */
    width: 26%;
}

.icon-f {
    margin: 12px;
}

/* .icon-h {
  
   transition: all 0.5s 0s ease !important;
}

 .icon-h:hover {
    
    transition: all 0.5s 0s ease !important;
} */



.fef-text {
    font-size: 22px !important;
    font-weight: normal !important;
    letter-spacing: 0.02rem !important;
    padding: 12px;
}


/* Footer media queries */

@media (max-width: 767px) {
    footer-row {
        min-height: 250px;
    }
    .icon-f {
        width: 1.2rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1223px) {
    .lfef {
        width: 100px;
        height: auto !important;
        margin: 2px;
    }

    .lcf {
        width: 100px !important;
        height: auto !important;
        margin: 2px;
    }

    .lsen {
        width: 70px !important;
        height: auto !important;
        margin: 2px;
    }

    .icon-f {
        width: 18px;
        margin: 5px;
    }

}


@media (min-width: 600px) and (max-width: 992px) {
    /* footer {
        height: 270px !important;
    } */
    .logo-f {
        width: 20% !important;
    }
    .lsen {
        width: 90px!important;
    }
    .icon-f {
        width: 01rem !important;
    }
}

/* Media queries Videos CNN */

@media (min-width: 768px) and (max-width: 991px) {
    .iframe2 {
       width: 560px;
       height: 315px;
       padding-bottom: 10x;
    }
}