html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background-size: 2000% 2000%;
	animation: gradient 15s ease infinite;
}
/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

/* Fuentes */


/* Upheavtt */
@font-face {
    font-family: 'Upheavtt';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/upheavtt.ttf); /* IE9 Compat Modes */
    src: local(''),
    url(../fonts/upheavtt.woff) format('embedded-opentype'), /* IE6-IE8 */
  }

/* Fieldwork */
@font-face {
    font-family: 'Fieldwork';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Fonts/fieldwork-geo-regular.otf);
    src: local(''),
    url(../fonts/fieldwork-geo-regular.woff) format('embedded-opentype'), /* IE6-IE8 */
  }
  
  @font-face {
    font-family: 'Fieldwork';
    font-style: bold;
    font-weight: 600;
    src: url(/fonts/Fonts/fieldwork-geo-demibold.otf);
    src: local(''),
    url(../fonts/fieldwork-geo-demibold.woff) format('embedded-opentype'), /* IE6-IE8 */
  }

  @font-face {
    font-family: 'Fieldwork';
    font-style: bold;
    font-weight: 700;
    src: url(/fonts/Fonts/fieldwork-geo-bold.otf);
    src: local(''),
    url(../fonts/fieldwork-geo-bold.woff) format('embedded-opentype'), /* IE6-IE8 */
  }
  
  @font-face {
    font-family: 'Fieldwork';
    font-style: bold;
    font-weight: 900;
    src: url(/fonts/Fonts/fieldwork-geo-black.otf);
    src: local(''),
    url(../fonts/fieldwork-geo-black.woff) format('embedded-opentype'), /* IE6-IE8 */
  }

  @font-face {
    font-family: 'Fieldwork';
    font-style: bold;
    font-weight: 200;
    src: url(/fonts/Fonts/fieldwork-geo-light.otf);
    src: local(''),
    url(../fonts/fieldwork-geo-light.woff) format('embedded-opentype'), /* IE6-IE8 */
  }

 a {
    text-decoration: none !important;
 }

 a:hover {
    color: rgb(239, 234, 234) !important;
 }

p, 
h6, 
h5, 
h4,
h3 {
    font-family: "Fieldwork", sans-serif, "Montserrat";
    font-weight: normal;
}

h1,
H2, 
.fef-text {
    font-family: "Upheavtt", "Montserrat";
}

.title {
    color: #000000;
    font-family: "Fieldwork", Sans-serif, "Montserrat";
    font-size: 1.3rem;
    font-weight: 600;
}

.font-weight-bold {
	font-weight: 700 !important;
}

.divider {
  border-top: 4px solid #000;
}

#arrow {
    animation: slideInDown 0.5s infinite;
    animation-direction: alternate-reverse;
}

.title-element {
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.bg-black {
	background-color: #000000;
}

.section-logo {
    background-color: #BFC7D3;
    padding: 3rem 0;
}
.section-padding {
	padding: 6rem 0;
}

.section-carousel {
    background-color: #09A491;
}

.navbar-light {
    background-color: #E1EE39;
    border-bottom: 4px;
    border-color: black;
}

/* Program Section */

 .paneles-container {
            text-align: center;
            justify-content: center;
        }

        .panel-info {
            padding: 0;
            z-index: 20;
        }

        .panel-cuerpo {
            background-color: #09A491;
            padding: 2rem 1rem 2rem 1rem;
            z-index: 10;
            color: #F9FF00 !important;
            border: 0.2rem solid black;
            border-radius: 1rem;
            box-shadow: -10px 5px 1px black;
        }

		.titulo-panel {
			color: #F9FF00 !important;
			font-size: 1.1rem;
		}
		
		.panel-cuerpo-streaming {
			background-color: #584897 !important;
		}
/* 		.titulo-panel-streaming {
			color:#F9FF00 !important;
		} */
		.panel_hora-streaming, .titulo-panel-streaming, .charla-streaming {
			background-color: #584897 !important;
		}
/* 		.charla_streaming-titulo {
			color: #E2FFDF !important;
		} */
		.charla-streaming {
			display:flex;
			align-items: center !important;
			justify-content: center !important;
			padding: 0.4rem;
		}
		.twitch-logo {
			align-self: center !important;
			justify-content: center !important;
			margin-top: -4px !important;
		}
		
		.hora {
			color: #F9FF00 !important;
		}
		
        .panel_charla {
            background-color: #E1EE39;
            width: 12rem;
            border: 0.2rem solid black;
            margin-top: -10px;
            border-radius: 0.5rem;
            box-shadow: -3px 3px 1px black;
            padding-top: 0.4rem;
        }

        .panel_hora {
            background-color: #09A491;
            color: #F9FF00;
            border: 0.2rem solid black;
            border-radius: 0.2rem;
            padding-top: 0.4rem;
        }

        .panel_bajada {
            background-color: #E2FFDF;
            color: black;
            width: 11rem !important;
            border-radius: 0.5rem !important;
            border: 0.2rem solid black;
            position: relative !important;
            z-index: 50 !important;
            margin-top: -3em !important;
            left: 0 !important;
            margin-left: 14rem !important;
            padding-top: 0.7rem !important;
        }

        .panel_bajada h6 {
            line-height: 1rem !important;
        }

        .charla_titulo {
            font-weight: 700;
        }

        .programa {
            /* The image used */
            background-image: url("img/bg_programa.jpg");
            background-size: cover;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 5rem 0;
            background-color: #E2FFDF;
        }

        .programa_titulo {
            width: 14rem;
        }

        #diamante {
            width: 2rem;
            z-index: 40 !important;
            position: relative;
            margin-top: -1.5em;
        }

        .p1 {
            fill: #dddf48 !important;
            stroke: #030202 !important;
            stroke-miterlimit: 10 !important;
            stroke-width: 4px !important;
        }


/* Media Queries programa */

        @media (min-width: 1200px) and (max-width: 1399px) {
            .panel_bajada {
            margin-left: 11rem !important;
            }
            #diamante {
                margin-right: 3rem !important;
            }
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            .panel_bajada {
            margin-left: 8rem !important;
            }
            #diamante {
                margin-right: 4.5rem !important;
            }
        }

        @media screen and (min-width: 768px) and (max-width:991px) {
            .panel_bajada {
                margin-left: 10rem !important; 
            }
            #diamante {
                margin-right: 4rem !important;
            }
        }

        @media (min-width: 446px) and (max-width: 767px) {
            .panel_bajada {
                margin-left: 15.7rem !important;
            }
            #diamante {
                margin-right: 6rem !important;
            }
        }

        @media (max-width: 445px) {
            .panel_bajada {
                margin-left: 10rem !important;
            }
            #diamante {
                margin-right: 7rem !important;
            }
        }


        /* @media (max-width: 800px) {
            .programa {
                background-image: url("http://futuristaschile.cl/wp-content/uploads/2022/11/bg_programa_mobile.jpg") !important;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
            }
        } */



/* Videos Section */

.charlas-p-title {
    font-size: 66px;
    line-height: 78%;
}

.videos-section {
    width: 100%;
    background-color: #E1EE39;
}

  .v-container {
    width: 570px;
    height: 325px;
}

  .iframe {
    border: 10px solid #07bdff;
    border-radius: 16px;
     box-shadow: 1px black;
     -webkit-box-shadow: -2px 2px 6px 4px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 2px 6px 4px rgba(0, 0, 0, 1);
    box-shadow: -2px 2px 6px 4px rgba(0, 0, 0, 1); 
    /* -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1); */
}

 .v-item1 {
    position: relative;
    top: 30px;
    right: 90px;
    z-index: 0;
    transition:all 0.3s !important;
} 
    
.v-item1:hover {
    transition:all 0.3s !important; 
    transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    -webkit-transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    -moz-transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    z-index: 5 !important;
}

.v-item2 {
    position: relative;
    top: 60px;
    right: 80px;
    z-index: 3;
    transition:all 0.3s !important;
} 
    
.v-item2:hover {
    transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    -webkit-transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    -moz-transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    transition:all 0.3s !important;
    z-index: 5;
}

.v-item3 {
    position: relative;
    bottom: 10px;
    left: 70px;
    z-index: 2;
    /* transform: translate(0%, -5.0732%) translate3d(0px, 0px, 0px);  */
} 
    
.v-item3:hover {
    transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    -webkit-transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    -moz-transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    transition:all 0.3s !important;
    z-index: 5;
}

.v-item4 {
    position: relative;
    top: 30px;
    left: 80px;
    z-index: 3;
    transition:all 0.3s !important;
} 
    
.v-item4:hover {
    transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    -webkit-transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    -moz-transform: scale(1.1) skew(-1deg) translate(-2px,7px);
    transition:all 0.3s !important;
    z-index: 5;
}


/* Universe SVG */

.rotate {
    -webkit-animation: rotate 20s normal linear infinite;
    animation: rotate 20s normal linear infinite;
}

.header {
    background-color: #DBFF29;
    padding: 2rem 1rem;
    width: 1000px;

}

.videos-section {
    position: relative;
    overflow: hidden !important;
}

.main-universe-two, .main-universe {
      overflow: hidden !important;
}

.universe-container {
    position: absolute;
    top:0;
    right: -300px;
    /* transform: translateX(25rem); */
}

.universe-container-two {
    position: absolute;
    bottom:-143px;
    left: -324px;
    /* transform: translateX(25rem);
    flex-wrap: nowrap; */
}

.main-universe-two {
    display: flex;
    justify-content: flex-end;
}

.cls-1 {
    fill: none;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7 {
    stroke: #030202;
    stroke-miterlimit: 10;
    stroke-width: 1.752px;
}

.cls-2 {
    fill: #eeb82d;
}

.cls-3 {
    fill: #dddf48;
}

.cls-4 {
    fill: #584897;
}

.cls-5 {
    fill: #3da572;
}

.cls-6 {
    fill: #e55b63;
}

.cls-7 {
    fill: #8abc69;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }

    25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }

    75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}


/* Media Queries videos */

@media (min-width: 1200px) and (max-width: 1319px) {
    .v-item1 {
    right: 20px;
    }
    .v-item2 {
    right: 10px;
    }
    .v-item3 {
    left: 0px;
    }
    .v-item4 {
    left: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .iframe {
        width: 475px;
        height: 250px;
        }
    .v-item1 {
        right: 16px;
        }
    .v-item2 {
        right: 10px;
        }
    .v-item3 {
        top: 0;
        bottom: 0;
        left: -6px;
        }
    .v-item4 {
        left: 0px;
        }
}


@media (min-width: 768px) and (max-width: 991px) {
    .v-item1 {
        top: 0;
        bottom: 0;
        right: 0px;
        }
        .v-item2 {
            top: 0;
            bottom: 0;
        left: 100px;
        }
        .v-item3 {
            top: 0;
            bottom: 0;
        left: 0px;
        }
        .v-item4 {
            top: 0;
            bottom: 0;
        right: 100px;
        }

        .universe-container {
            position: absolute;
            top:0;
            right: -450px;
            /* transform: translateX(25rem); */
            overflow: hidden;
        }
        .universe-container-two {
            position: absolute;
            bottom:-250px;
            left: -320px;
            /* transform: translateX(25rem);
            flex-wrap: nowrap; */
            overflow: hidden;
        }
}

@media (min-width: 480px) and (max-width: 767px) {
    .iframe {
    width: 460px;
    height: 250px;
    }
    .v-item1, .v-item2, .v-item3, .v-item4 {  
        top: 0;
        bottom: 0;  
        left: 0;
        right: 0;
        }

        .universe-container {
            position: absolute;
            top:0;
            right: -470px;
            /* transform: translateX(25rem); */
            overflow: hidden;
        }
        .universe-container-two {
            position: absolute;
            bottom:-300px;
            left: -380px;
            /* transform: translateX(25rem);
            flex-wrap: nowrap; */
            overflow: hidden;
        }
    }

 @media (max-width: 480px) {
    .iframe {
    width: 340px;
    height: 220px;
    }
    .v-item1, .v-item2, .v-item3, .v-item4 {  
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    }
 }


 /* Footer section */

 footer {
    min-height: 200px;
    background-color: #000000;
    width: 100%;
 }

 .footer-row {
    width: 100%;
    height: 170px;
    }

 .logo-f {
     padding: 12px;
    }

 .icon-f {
    margin: 12px;
    }

.fef-text {
    font-size: 22px !important;
    font-weight: normal !important;
    letter-spacing: 0.02rem !important ;
    padding: 12px;
    }

     /* Footer media queries */

     @media (max-width: 480px) {
        footer {
        min-height: 250px;
        }
    }
    @media (min-width: 992px) and (max-width: 1223px) {
        .lfef {
           width: 100px;
           height: auto !important;
           margin: 2px;
           }
           
        .lcf {
        width: 100px !important;
        height: auto !important;
        margin: 2px;
             }

        .lsen {
        width: 70px !important;
        height: auto !important;
        margin: 2px;
            }
       
        .icon-f {
           width: 18px;
           margin: 5px;
           }

        }
